* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 600px) 1fr;
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: 30px 1fr 30px;
  }
}

.App {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.App > h1 {
  text-align: right;
}

.App > .todo-input {
  margin-top: 1rem;
  display: flex;
  gap: 0.3rem;
  justify-content: space-between;
}

.App > .todo-input > input {
  padding: 1rem;
  width:100%;
  border-radius: 5px;
}

.App > .todo-input > button {
  padding: 1rem;
  border-radius: 5px;
  background: transparent;
  
  color: dodgerblue;
  outline: none;
  border: 1px solid dodgerblue;
  transition: all linear 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  min-width: 50px;
}

.App > .todo-input > button:hover {
  color: white;
  background: dodgerblue;
  transition: all linear 0.1s;
  cursor: pointer;
}

.App > ul {
  list-style: none;
}

.App > ul > li {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 0;
}

.App > ul > li > span {
  margin: 0 0.3rem 0 0.5rem;
  font-size: 1.6rem;
}

.App > ul > li > span:hover {
  cursor: pointer;
}

.completed-todo > span {
  text-decoration: line-through;
  opacity: 0.4;
}

.delete-button {
  padding: 1rem;
  background: transparent;
  color: orangered;
  outline: none;
  border: 1px solid orangered;
  transition: all linear 0.1s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  min-width: 50px;
}

.delete-button:hover {
  background: orangered;
  color: white;
  cursor: pointer;
  transition: all linear 0.1s;
}
