* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 600px) 1fr;
  min-height: 100vh;
  overflow: scroll;
  grid-template-rows: auto 1fr;
}

.dark-mode {
  background: black;
}

.dark-mode-toggle {
  background: transparent;
  border-radius: 5px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem 0;
  outline: none;
  border: none;
}

.dark-mode-toggle:hover {
  cursor: pointer;
}

.dark-mode > .App > .dark-mode-toggle {
  color: white;
}

.dark-mode > .App > h1 {
  color: white;
}

.dark-mode > .App > ul > li {
  color: white; 
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.dark-mode > .App > ul > li > button {
  color: white;
}

.dark-mode > .App > .todo-input > button {
  color: white;
  background: rgba(0,0,0,0.8);
  border: 1px solid #fff;
}

.dark-mode > .App > .todo-input > input {
  background: black;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.7);
}

.dark-mode > .App > .todo-input > button {
  border: none;
}

.dark-mode > .App > .todo-input > button:disabled {
  opacity: 0.7;
}

.dark-mode > .delete-button {
  color: white;
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: 30px 1fr 30px;
  }
}

.App {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.App > h1 {
  display: flex;
  justify-content: space-between;
}

.App > .todo-input {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.App > .todo-input > input {
  padding: 1rem 1rem 1rem 0;
  width:100%;
  font-size: 1.3rem;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.App > .todo-input > input:focus {
  outline: none;
}

.App > .todo-input > button {
  padding: 1rem;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  min-width: 50px;
}

.App > .todo-input > button.fill {
  cursor: pointer;
  transition: all linear 0.1s;
  opacity: 1;
}

.App > ul {
  list-style: none;
  margin-top: 1rem;
}

.App > ul > li {
  display: grid;
  grid-template-columns: 1fr auto auto;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  align-items: center;
}

.App > ul > li > span {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.App > ul > li > span:hover {
  cursor: pointer;
}

.completed-todo > span {
  text-decoration: line-through;
  opacity: 0.4;
}

.delete-button {
  padding: 1rem;
  background: transparent;
  color: black;
  outline: none;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  min-width: 50px;
  opacity: 0.7;
}

.delete-button:hover {
  opacity: 1;
  cursor: pointer;
  transition: all linear 0.1s;
}
